#map{
   /* height:100%;
   width:100%;
   top: 0;
   right:0;
   position: -webkit-sticky; 
   position:sticky;
   float: right; */

   /* position: absolute; */

}

#searchResultRoot{
    width:100vw;
    display:flex;
}

#mapDiv{

    width:50vw;
    height:100vh;
    position:sticky;
 
    left:500px;
    top:0;
    left:0;
  
}


