#SearchResultBoxForm{
    display:flex;
    flex-direction:column;
    position: relative;
    .SearchResultBoxForm__element{
        width:100%;
        margin-bottom: 5px;
    }
    #SearchResultBoxForm__destination{
        #destination__formControl{
            width:100%;
        }
    }
    #SearchResultBoxForm__pickup__date{
        display:flex;
        flex-direction:row;
        #pickup{
            flex-grow:4;
            margin-right:5px;
            #pickupForm{
                width:100%
            }

        }
        #date{
            flex-grow:1;
            border-style: solid;
            border-color: #b4b1b1;
            border-width: 1px;
            border-radius:4px;
        }
    }
    #SearchResultBoxForm__searchButton{
        
    }
}