@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html{
    // this defines what 1rem is
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    box-sizing: border-box;
      font-family:"Lato", sans-serif;
      font-weight: 400;
      /* font-size: 16px; */
      line-height: 1.7;
      color: $color-grey-dark;
      //padding: 2.4rem;
  }