.heading-primary{
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display:block;
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 2.0rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
        
        animation-timing-function: ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}