//COLORS
$color-grey-dark: #777;
/* $color-primary-light: #6fe7dd;
$color-primary-dark: #3490de; */
$color-primary: #3490de;
<<<<<<< HEAD
$color-secondary: #6639a6;
$color-secondary-light: #bb8bff;
=======
//$color-secondary: #6639a6;
>>>>>>> c2bd20b4ed933fca35104f93085317ad7e7ab48b
$color-secondary-dark: #521262;
$color-tertiary: #f7de52;
$color-white: #fff;
$color-black: #000;
$color-grey-dark-3:#333;
$color-primary-light: #09C6F9;
$color-primary-dark: #045DE9;
$color-secondary: #FAE923;

//GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal:6rem;


//FONT-SIZES
$default-font-size: 1.6rem;