//COLORS
$color-grey-dark: #777;
$color-primary-light: #6fe7dd;
$color-primary-dark: #3490de;
$color-secondary: #6639a6;
$color-secondary-dark: #521262;
$color-white: #fff;
$color-black: #000;


//FONT-SIZES
$default-font-size: 1.6rem;