.message{
    text-align: right;
}
.message p{
    margin-right: 10px;
    padding: 7px 15px;
    border-radius: 15px;
    display:inline-block;
    text-align: right;
    background-color: cadetblue;
}
.textfield{
    margin-bottom: 10px;
    position: relative;
    
}
.btn-submit-message{
    height: 35px;
    position: relative;
    top: 12px;
    left: 10px;
    
}
