.message{
    height:9vh;
}
.message p{
    margin-right: 10px;
    padding: 7px 15px;
    border-radius: 15px;
    display:inline-block;
    background-color: cadetblue;
}
.textfield{
    margin-bottom: 10px;
    position: relative;
    
}
.btn-submit-message{
    height: 35px;
    position: relative;
    top: 12px;
    left: 10px;
    
}
.main{
    width:100%;
    height:73vh;
    overflow: auto;
}
