.section-features {
    position: relative;
    box-sizing: border-box;
    padding: 13rem 5rem; 
     height: 100%;
    background-size: cover;
    border-radius: 1rem;
    //margin-top: 15rem;
    margin:5rem 15rem ;
    //margin-bottom: 100rem;
   box-shadow: 0 1.5rem 4rem rgba($color-secondary-dark, .2) ;
}


