.section-features {
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    border-radius: 1rem;
    
    padding: 0;
    //margin-top: 15rem;
    margin:5rem 15rem ;
    //margin-bottom: 100rem;

    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}


