.signUp{
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,1),rgba($color-primary-dark,1));
    background-size: cover;
    background-position: center;
    position: relative;

.rectangle{
      position: relative;
      width: 85vw;
      max-width: 120vh;
      height: 85vh;
      margin: auto;
      top: 7.5vh;
      bottom: 0;
      left: 0;
      right: 0;
      background: #FFFEFF;
      mix-blend-mode: normal;
      border-radius: 20px;
}

&__pic{ 

      margin-left: 2vw;
      height: 50vh;
      width: 40vw;


        &--illustration { 
            height: 80%;
            width: 45%;
          position: absolute;

}
}


}