.signUp{
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,1),rgba($color-primary-dark,1));
    background-size: cover;
    background-position: center;
    position: relative;

.rectangle{
      position: relative;
      width: 85vw;
      max-width: 120vh;
      height: 85vh;
      margin: auto;
      top: 7.5vh;
      bottom: 0;
      left: 0;
      right: 0;
      background: #FFFEFF;
      mix-blend-mode: normal;
      border-radius: 20px;
}

&__pic{ 
      margin-left: 2vw;
      height: 60vh;
      width: 60vw;
        &--illustration { 
            height: 45%;
            width: 45%;
            top: 23%;
          position: absolute;

}
}

.input{
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black;
}

.fields{
      margin: 2 vh;
      display: felx;
      flex-direction: column;

}

.tabs{
      height: 40vh;
      width: 25vw;
      position: absolute;
      right: 5%;
      top: 5%;
      background: transparent;

}

.tab{
      position: relative;
      margin: 1vw;
      font-size: 1.8rem;
      display: inline;
      right: 20%;
      background: transparent;
      color: gray;
      outline: none;

}

.is-selected{
      color: black;
      font-size: 2.3rem;
}

}