#SearchPage{
    /* background-color: aqua; */
    height:100vh;
    background-image: url("../../static/img/boat.jpg");
    background-size: cover;
    background-size: 100% 100%;
   
 
    #SearchResultBox{
        // padding-left: 50px;
        // padding-right:50px;
        padding: 30px 50px 30px 50px;
        background-color: #ffffff;
        width:30%;
        height:30em;
        position:relative;
        left:10em;
        top:17em;
        border-radius: 10px;
        font-family: "Source Serif Pro";
        color:#000000;
        #SearchResultBox__upper{
            // height:100%;
            #SearchResultBox__title{
                font-size:3em;
                font-weight: bold;
            }
            #SearchResultBox__description{
                position: relative;
                font-size:2.5em;
                top:-15px;
            }
        }
        #SearchResultBox__lower{
            position:relative;
            top:-15px;
            #SearchResultBox__lower__where{

            }
        }

        
       
    }
}