@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
#fullpage {
    margin-top: -64px; 
}

.section{
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
}

.section1{
    
    display: flex; 
    flex-direction: column;
    background-color: #EF0001 ;
    color: #FFFFFF;
    /* align-items: center; */
    
}
.section1 .main{
    height: 300px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height:200px;
    margin-bottom: 10px;
    
    /* position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}
.Dpool{
   
    bottom:0;
    font-family: 'Luckiest Guy';
    /* font-style: normal; */
    font-weight: normal;
    font-size: 200px;
    height:100%;
    /* line-height: 50px; */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 10px; */
}

.button-ride{
    background-color: #FFFFFF;
}

 img{
    height: 200px;
    width:auto;
    margin-right: -50px;
    margin-top:20px;
}