
  .band {
    position: absolute;
    padding: 50;
    width: 676.93px;
    height: 458.08px;
    left: calc(50% - 676.93px/2 - 0.96px);
    top: 114px;
  
    background: url("../static/img/frontpage2.jpg") no-repeat;
  }