.eachResult{
    display:flex;
    flex-direction :row;
    position:relative;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    /* width:50%; */
    /* height:; */
}

.eachResultQueryResult{
    display:flex;
    flex-direction: column;
  
}
.top{
    /* height:20px; */
    padding: 0 10px;
} 

/* rating bar */

.top{
  
    display:flex;
    flex-direction:  row;
    justify-content: space-between;
    
}

/* .extraStatus{
    display:flex;
   
    justify-content: flex-end;
   
} */

.rating img{
   height:20px;
  
}
.ratingScore{
    margin: 0 7px ;
}


.bottom{
   
   position: absolute; 
   bottom :0;
   right:0;
}

