

.eachResult{
    display:flex;
    flex-direction :row;
    position:relative;
    min-height: 156px;
  
}

.eachResult .avatarAndNickname{
    display:flex;
    flex-direction: column;
    position:relative;
    top:10px;

    /* align-items: center; */
    /* justify-content: center; */
}

.avatarAndNickname span{
    margin:0;
    margin-top:5px;
    font-size:1.4em;
}

hr{
    /* position:absolute; */
    display:block;
    height:1px;
    border:0;
    border-top: 1px solid #EBEBEB;
    margin:0;
    padding:0;
    margin-top: 10px;
    /* width:100%; */
   
    
}