.btn {
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    
    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--yellow {
        background-color: $color-primary-light;
        color: $color-secondary-dark;
        position: absolute;
        left: -25%;

        &::after{
            background-color: $color-primary-light;
        }
    }
    &--yell {
        background-color: #f7de52;
        color: $color-secondary;
        position: relative;
        margin-top: 5rem;
    }

    &--white {
        background-color: $color-white;
        color: $color-black;
        position: absolute;

        &::after{
            background-color: $color-white;
        }
    }
    
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom 0.5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
}