.btn {
    transition: all .1s;
    
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        
        position: relative;
        font-size: $default-font-size;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        cursor: pointer;
        /* &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        } */
    
    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--yellow {
        background-color: $color-secondary;
        color: $color-grey-dark;
        position: absolute;
        left: -25%;

        &::after{
            background-color: $color-secondary;
        }
    }
    &--editProfile {
        background-color: $color-tertiary-dark;
        color: $color-white;
        position: relative;
        margin-top: 1rem;
    }

    &--white {
        background-color: $color-white;
        color: $color-black;
        position: absolute;

        &::after{
            background-color: $color-white;
        }
    }
    &--purple {
        background-color: $color-tertiary;
        color: $color-white;
        padding: 0.7rem 0.7rem;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
        border-radius: 100px;
        display: inline-block;
        cursor: default;
        width: 47%;
        outline: none;
        border: none;

    }

    &--deleteTrip {
        font-size: 1.2rem;
        background-color: transparent;
        width: 47%;
        text-align: center;
        margin-top: 1rem;
        border: 1px solid  $color-secondary-dark;
        padding: 0.7rem 0.7rem;
        border-radius: 100px;
        float: right;
        cursor: default;
        outline: none;


    }
    
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom 0.5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
}