.edit-profile {
    left: 4.5%;
    transform: translateX(5%);
    position: relative;
    top:3rem;
    font-family: "Lato", sans-serif;
      * {
        box-sizing: border-box;
    }
    .edit-profile-main {
        background: $color-white;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        width: 80%;
        height: fit-content;
        max-height: fit-content;
        border-radius: 2rem;
        padding: 5rem 5rem 4rem;
        // transition: width 2s, height 4s;
        .edit-profile-boxTitle {
            position: relative;
            left: -6.5rem;
            background-color: #37a8f3;
            padding: 1.5rem 6rem;
            width: 32rem;
            height: 5.5rem;
            margin-bottom: 2.5rem;
            animation-name: boxTitle;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            .text {
                font-family: "Lato", sans-serif;
                visibility: visible;
                font-size: 18px;color: #fff;
                text-transform: uppercase;
                animation-name: boxTitle-text;
                animation-duration: 0.8s;
                animation-timing-function: ease;
            }
        }
        @keyframes boxTitle{
            from {width: 0rem;}
            to {width: 32rem;}
        }
        @keyframes boxTitle-text {
            //
            0% {visibility: hidden;}
            90% {visibility: hidden;}
            100% {visibility: visible; opacity: 0.6}
        }

        section {
            padding: 0 2rem;
            h3 {
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 600;
                color: #394972;
                
            }
        }
        .profile-basic-info .content {
            padding: 3rem 4rem;
            text-align: center;
            input[type="text"], select {
                padding: 12px 20px;
                margin-top: 3rem;
                display: inline-block;
                border: 1.5px solid #ccc;
                box-sizing: border-box;
                border-radius: 1rem;
                max-width: 41rem;
                width: 100%;
                outline: none;
                margin-bottom: 1rem;
                &:hover, &:focus {
                    border: 1.5px solid #57bcff;
                }
            }
            #basic-class-year {
                padding: 1.1rem 2rem;
            }
            #basic-major, 
            #basic-class-year,
            #basic-hub {
                max-width: 27rem;
            }
            #basic-email, #basic-phone, #basic-school {
                width: 100%;
                max-width: none;
            }
            .basic-sub-box {
                padding: 0rem 1.2rem;
            }
            .basic-info-label {
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 400;
                color: rgb(109, 108, 108);
                position: absolute;
                padding-left: 0.2rem;
                &--major {
                    text-transform: none;
                }
            } 
        }
        .profile-security .content {
            padding: 3rem 5rem 0rem;
            text-align: left;
            .security-label {
                text-transform: capitalize;
                font-size: 17px;
                font-weight: 400;
                color: rgb(109, 108, 108);
                position: absolute;
                padding-left: 0.2rem;   
            } 
            #security-password {
                font-size: 16px;
                font-weight: 800;
                margin: 3.5rem 0rem;
                position: relative;
                color: #57bcff;
                .security-password-icon {
                    font-size: 16px;
                    color: #57bcff;
                    margin-right: 1rem;
                }
                &:hover {
                    color: #14a1ff;
                }
            }
            
        }
        .profile-end-buttons .content{
            margin-left: 79em;
            width: 31rem;
            text-align: right;
            overflow: hidden;
        }
    }
    .edit-profile-icon {
        font-size: 16px;
        color: #045DE9;
        text-align: left;
        margin-right: 1rem;
    }
    .edit-profile-btn {
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 10rem;
        font-size: $default-font-size;
        display: inline-block;
        font-size: 18px;
        transition: all .1s;
        padding: 1.5rem 3rem;
        text-align: center;
        &--back {
            background-color: none;
            color: #045DE9;
            margin-bottom: 1rem;
        }
        &--cancel {
            width: 14rem;
            height: 5rem;
            background-color: #ffddf0;
            color: $color-tertiary;
        }
        &--save {
            width: 14rem;
            height: 5rem;
            background-color: $color-tertiary;
            color: $color-white;
            // padding: 1.5rem 0rem;
        }
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__bottom-illustration {
        position: absolute;
        /* top: 1rem; */
        left: -16rem;
        top: 80rem;
        z-index: -1;
        &--image {
            display: inline-block;
            height: 260px;
            width: auto;
            margin-right: -50px;
            margin-top: 20px;
        }
    }
    &__top-illustration {
        position: absolute;
        top: 1rem;
        left: 91.2rem;
        z-index: -1;
        &--image {
            display: inline-block;
            height: 360px;
            width: auto;
            margin-right: -50px;
            margin-top: 20px;
        }
    }
}  
