$field-label-font-size: 1.6rem;
$heading-font-size: 2rem;
$back-btn-font-size: 1.8rem;

.edit-profile {
    margin: 1rem 14rem;
    position: relative;
    padding-top: 3rem;
    font-family: "Lato", sans-serif;
      * {
        box-sizing: border-box;
    }
    .edit-profile-main {
        background: $color-white;
        box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.1);
        width: 100%;
        height: fit-content;
        max-height: fit-content;
        border-radius: 2rem;
        padding: 5rem 5rem 4rem;
        // transition: width 2s, height 4s;
        .edit-profile-boxTitle {
            position: relative;
            background-color: $color-primary-light;
            padding: 1.5rem 6rem;
            box-shadow: .2rem .3rem .5rem rgba(0, 0, 0, 0.2);
            width: 32rem;
            height: 5.5rem;
            margin-left: -6rem;
            margin-bottom: 2.5rem;
            animation-name: boxTitle;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            .text {
                font-family: "Lato", sans-serif;
                visibility: visible;
                font-size: $back-btn-font-size;
                color: $color-white;
                text-transform: uppercase;
                animation-name: boxTitle-text;
                animation-duration: 0.8s;
                animation-timing-function: ease;
            }
        }
        @keyframes boxTitle{
            from {width: 0rem;}
            to {width: 32rem;}
        }
        @keyframes boxTitle-text {
            //
            0% {visibility: hidden;}
            90% {visibility: hidden;}
            100% {visibility: visible; opacity: 0.6}
        }

        section {
            padding: 0 2rem;
            h3 {
                text-transform: capitalize;
                font-size: $heading-font-size;
                font-weight: 600;
                color: #394972;
                
            }
        }
        .profile-basic-info .content {
            padding: 3rem 4rem;
            text-align: center;
            input[type="text"], select {
                padding: 1.2rem 2rem;
                margin-top: 3rem;
                display: inline-block;
                border: .15rem solid $color-grey-dark-3;
                box-sizing: border-box;
                border-radius: 1rem;
                max-width: 41rem;
                width: 100%;
                outline: none;
                margin-bottom: 1rem;
                &:hover, &:focus {
                    border: .15rem solid $color-primary-light;
                }
            }
            #basic-class-year {
                padding: 1.1rem 2rem;
            }
            #basic-major, 
            #basic-class-year,
            #basic-hub {
                max-width: 27rem;
            }
            #basic-email, #basic-phone, #basic-school {
                width: 100%;
                max-width: none;
            }
            .basic-sub-box {
                padding: 0rem 1.2rem;
            }
            .basic-info-label {
                text-transform: capitalize;
                font-size: $field-label-font-size;
                font-weight: 400;
                color: rgb(109, 108, 108);
                position: absolute;
                padding-left: .2rem;
                &--major {
                    text-transform: none;
                }
            } 
        }
        .profile-security .content {
            padding: 3rem 5rem 0rem;
            text-align: left;
            .security-label {
                text-transform: capitalize;
                font-size: $field-label-font-size;
                font-weight: 400;
                color: rgb(109, 108, 108);
                position: absolute;
                padding-left: 0.2rem;   
            } 
            #security-password {
                font-size: $field-label-font-size;
                font-weight: 800;
                margin: 3.5rem 0rem;
                position: relative;
                color: $color-primary-light;
                .security-password-icon {
                    font-size: $field-label-font-size;
                    color: $color-primary-light;
                    margin-right: 1rem;
                }
                &:hover {
                    color: #0092f3;
                }
            }
            
        }
        .profile-end-buttons .content{
            margin-left: 79em;
            width: 31rem;
            text-align: right;
            overflow: hidden;
        }
    }
    .edit-profile-icon {
        font-size: $field-label-font-size;
        color: $color-primary;
        text-align: left;
        margin-right: 1rem;
    }
    .edit-profile-btn {
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 10rem;
        font-size: $default-font-size;
        display: inline-block;
        font-size: $back-btn-font-size;
        transition: all .1s;
        padding: 1.5rem 3rem;
        text-align: center;
        &--back {
            background-color: none;
            color: $color-primary;
            margin-bottom: 1rem;
        }
        &--cancel {
            width: 14rem;
            height: 5rem;
            background-color: #ffddf0;
            color: $color-tertiary;
        }
        &--save {
            width: 14rem;
            height: 5rem;
            background-color: $color-tertiary;
            color: $color-white;
            // padding: 1.5rem 0rem;
        }
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    &__bottom-illustration {
        margin-top: -4rem;
        position: absolute;
        margin-left: -22rem;
        z-index: -1;
        &--image {
            display: inline-block;
            height: 26rem;
            width: auto;
            margin-right: -5rem;
            margin-top: 2rem;
        }
    }
    &__top-illustration {
        position: absolute;
        margin-top: 0.8rem;
        z-index: -1;
        margin-left: 85rem;
        &--image {
            display: inline-block;
            height: 36rem;
            width: auto;
            margin-right: -5rem;
            margin-top: 2rem;
        }
    }
}  
