
.edit-popup{
  .container{
     margin: 1.5rem;
  }

  .fields{
    width: 100%;
    height: 2.5rem;
    padding: 0rem 0.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #777;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    border-radius: 7px;

      &:hover{
        background-color: #F5F5F5;
      }
  }
    
  
   .datePicker{
    border-width: 0rem;
    outline: none;
    margin: 0.6rem 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display:inline-block;
    background-color: transparent;
    }
    
    .title{
        display: inline-block;
        margin-bottom: -17rem ;
        font-size: 1.5rem;
        position: relative;
        width: 100%;
        text-align: center;

    }


    

    
}