.feature-box{
    background-color: rgba($color-white, .9);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: left;
    border-radius: 3px;
    min-height: 25rem;
    transition: transform .3s;
    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    
    }
    &__text {
        font-size: 2rem;
    }
    &__number{
        margin: 0 5rem;
        position: relative;
        text-align: center;
        display: inline-block;
        font-size: 10rem;
         height: 15rem;
        width: 15rem; 
        border: solid 1px $color-primary-dark;
        border-radius: 1000rem;
        top: 5rem;
        &--text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

