.logo-dashboard{
    height: 3.25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.search-dashboard{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: $color-grey-light-2;
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 1000rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color:$color-grey-light-3;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-light-4;
        }
    }

    &__button{
        border: none;
        background-color: $color-grey-light-2;

        &:focus{
            outline: none;
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-3;
    }
    &__input:focus + &__button {
        background-color:$color-grey-light-3 ;
    }
}



.user-nav{

    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color:$color-grey-light-2 ;
    }
    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-grey-dark-2;
        
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 1000rem;
        background-color: $color-tertiary;
        color: #fff;
        position: absolute;
        top:1.5rem;
        right: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user{

    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-bottom: 3rem;
    }

    &__user-name{
        margin-left: 6rem;
    }
}