$standard: 10px;
$card-height: 480px;
$card-width: 300px;
.profile-card {
    
    .outer-div,
    .inner-div {
        height: $card-height;
        max-width: $card-width;
        margin: 0 auto;
        position: relative; 
        border-radius: 50%;
    }

    .outer-div {
        perspective: 900px;
        perspective-origin: 50% calc(50% - 18em);
    }

    .inner-div {
        margin: $standard * 5 auto;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
        transform-style: preserve-3d;
    }

    .front {
        position: relative;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }

    .front {
        height: 105%;
        width: $card-width;
        background: $color-white;
        backface-visibility: hidden;
        border-radius: 2rem;
        // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    }
    
    .section-name {
        position: inherit;
        color: grey;
        text-transform: uppercase;
        font-family:  "Lato", sans-serif;
        font-size: 15px;
        top: 3.5rem;
    }

    .front__bkg-photo {
        position: relative;
        height: 150px;
        width: $card-width;
        background: #ffd968;
        background-size: cover;
        backface-visibility: hidden;
        overflow: hidden;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;

    }

    .front__face-photo {
        position: relative;
        top: 6rem;
        height: 130px;
        width: 130px;
        margin: 0 auto;
        border-radius: 50%;
        /* border: 5px solid #fff; */
        background-size: contain;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
        z-index: 3;
    
    }
    .front__text {
        position: relative;
        top: 8rem;
        margin: 0 auto;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        backface-visibility: hidden;
        h3, p {
            color: #4B5F92;
        }
        .front__text-header {
            font-weight: 700;
        }
        .record-line {
            border-left: 1px solid gainsboro;
            height: 5rem;
            position: relative;
            margin: 0 1.3rem 0 1.3rem;
        }
        .record-profile {
            padding: 3rem;
        }
        .record-main {
            position: relative;
            font-size: 20px;
            letter-spacing: 0.4px;
            font-weight: 400;
        }
        .record-sub {
            color: #758abe;
            position: relative;
            font-size: 13px;
            letter-spacing: 0.4px;
            font-weight: 400;
        }
        .front__text-para {
            color: #1AC3F2;
            position: relative;
            top: 2px;
            font-size: 16px;
            letter-spacing: 0.4px;
            font-weight: 620;
        }
        .front__text-sub {
            position: relative;
            top: 2rem;
            font-size: 15px;
            letter-spacing: 0.4px;
            font-weight: 400;
        }
        
        .front__text-sub-2 {
            position: relative;
            top: 3rem;
            font-size: 15px;
            letter-spacing: 0.4px;
            font-weight: 400;
        }

        .front-icons {
            position: relative;
            top: 0;
            font-size: 16px;
            margin-right: 6px;
            color: gray;
        }
    }
    // &--simple {
    //     width: 400px;
    //     padding: 5px;
    //     height: 10px;
    //     border-radius: 50%;
    // }
    // .review-card {
    //     display:grid;
    //     // grid-template-columns: repeat( auto-fill, minmax(16rem, 1fr) );
    //     grid-gap: 3rem;
    //     padding:5rem;
    //     background:#F5F7FA;
    //     .card {
    //         position: relative;
    //         box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    //         .container {
    //             position: absolute;
    //             width:100%;
    //             height:100%;
    //             border-radius:1rem;
    //             background:#f7de52;
    //             color:#ffffff;
    //         }
    //     }
    // }
}


