$standard: 1rem;
$card-height: 48rem;
$card-width: 30rem;
.profile-card {
    .outer-div,
    .inner-div {
        height: $card-height;
        max-width: $card-width;
        margin: 0 auto;
        position: relative; 
        border-radius: 50%;
    }
    .outer-div {
        perspective: 900px;
        perspective-origin: 50% calc(50% - 18em);
    }
    .inner-div {
        margin: $standard * 5 auto;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
        transform-style: preserve-3d;
    }
    .front {
        position: relative;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }
    .front {
        height: 105%;
        width: $card-width;
        background: $color-white;
        backface-visibility: hidden;
        border-radius: 2rem;
        // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        &__photo-button {
            z-index: 3;
            margin-top: 15.5rem;
            margin-left: -3.5rem;
            position: absolute;
            width: 4.5rem;
            height: 4.5rem;
            background: $color-primary;
            padding: 1.1rem;
            border-radius: 50%;
            box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 
                        0px 6px 10px 0px rgba(0,0,0,0.14), 
                        0px 1px 18px 0px rgba(0,0,0,0.12),
                        inset 0 0 .7rem $color-primary-light;
            .photo-button-icon {
                font-size: 2.2rem;
                color: $color-white;
            }
            &:hover {
                cursor: pointer;
                transition: 0.1s;
                transform: scale(1.2);   
            }
        }
    }
    
    .section-name {
        position: inherit;
        color: grey;
        text-transform: uppercase;
        font-family:  "Lato", sans-serif;
        font-size: 1.5rem;
        top: 3.5rem;
    }

    .front__bkg-photo {
        position: relative;
        height: 15rem;
        width: $card-width;
        background: #ffd968;
        background-size: cover;
        backface-visibility: hidden;
        overflow: hidden;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;

    }

    .front__face-photo {
        height: 13rem;
        width: 13rem;
        margin: 0 auto;
        border-radius: 50%;
        background-size: contain;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
        z-index: 3;
        &--none {
            position: relative;
            top: 6rem;
            &[disabled] {
                display:none
            }
        }
        &--existing {
            position: relative;
            top: 6rem;
        }
    }
    .front__text {
        position: relative;
        top: 8rem;
        margin: 0 auto;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        backface-visibility: hidden;
        h3, p {
            color: #4B5F92;
        }
        .front__text-header {
            font-weight: 700;
        }
        .record-line {
            border-left: .1rem solid gainsboro;
            height: 5rem;
            position: relative;
            margin: 0 1.3rem 0 1.3rem;
        }
        .record-profile {
            padding: 3rem;
        }
        .record-main {
            position: relative;
            font-size: 2rem;
            letter-spacing: .004rem;
            font-weight: 400;
        }
        .record-sub {
            color: #758abe;
            position: relative;
            font-size: 1.3rem;
            letter-spacing: .004rem;
            font-weight: 400;
        }
        .front__text-para {
            color: #1AC3F2;
            position: relative;
            top: .2rem;
            font-size: 1.6rem;
            letter-spacing: .004rem;
            font-weight: 620;
        }
        .front__text-sub {
            position: relative;
            top: 2rem;
            font-size: 1.5rem;
            letter-spacing: .004rem;
            font-weight: 400;
        }
        
        .front__text-sub-2 {
            position: relative;
            top: 3rem;
            font-size: 1.5rem;
            letter-spacing: .004rem;
            font-weight: 400;
        }

        .front-icons {
            position: relative;
            top: 0;
            font-size: 1.6rem;
            margin-right: 1.6rem;
            color: gray;
        }
    }
}


