.modal-search{
    height: 10rem;
    &__button{
        text-decoration: none;
        border: 1px solid black;
        text-transform: uppercase;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.4rem;
    }
    &__form{
        height: 2rem;
        text-align: center;
    }
    &__input{
        height: 3rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        
    }
}