.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    text-align: center;
    //border-bottom: 1px solid #aaa;
    margin: 5rem 0 5rem 7rem;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    margin:0 5rem 0 0;
    cursor: pointer;
    transition: all .3s;
    font-size: 2rem;
    &--selected {
      background: #fff;
      //border-color: #aaa;
      color: $color-white;
      background-color: $color-primary-neutral;
      border-radius: 5px;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;
    &--selected {
      animation: TabPanelAnimate ease .7s;
      display: block;
      animation: TabPanelAnimate ease .7s;
      display: block;
      padding-bottom: 4rem;
      padding-top: 0.3rem;
    }
  }
}


@keyframes TabPanelAnimate {
  0%{
    opacity: 0;
    transform: translateX(-20%);
  }

  80%{
    opacity: 0.8;
    transform: translateX(5%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}