/* optional colors */
$blue: #428BFF;
$dark: #333;


$accent-inactive: desaturate($color-primary-dark, 85%);
$secondary: $accent-inactive;

/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);

/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content-profile > section";

@mixin trip-tab(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  hr {
    display: block;
    height: 2px;
    border-top: 1px solid #e8e8e8;
    margin: 2em 0;
  }
}

.trip-tab {
  left: 46%;
  transform: translateX(-50%);
  position: relative;
  top:40rem;
  background: $color-white;
  padding: 50px;
  padding-bottom: 80px;
  width: 93%;
  height: 590px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  min-width: #{$tab-count * 60px};
  h4, label{
    font-family: "Lato", "sans-serif";
  }
  h4 {
    color: #428BFF;
    margin-top: -15px;
    font-size: 20px;
  }
  
  input[name="tab-control"] {
    display: none;
  }
  
  .content-profile section, h2
  ul li label {
    font-size: 18px;
    color: #428BFF;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100%/$tab-count};
      padding: 0 10px;
      text-align: center;
      
      label {
        font-weight: bold;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        // @include user-select(none);
        
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
        }
      }
    }
  }
  
  .slider {
    position: relative;
    width: #{100%/$tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: #f7de52;//yellow 
      border-radius: 1px;     
    }

  }
  .setting-name {
    position: inherit;
    color: grey;
    text-transform: uppercase;
    font-family:  "Lato", sans-serif;
    font-size: 15px;
  }

  .content-profile {
    margin-top: 30px;
    
    section {
        font-family: "Lato", "sans-serif";
        display: none;
        animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      
      h2 {
        color: #428BFF;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $color-primary-dark;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  
  input[name="tab-control"] {
    @include trip-tab {
      > label {
        cursor: default;
        color: #428BFF;
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content-profile {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
    }
  }
  
  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      
      span {
        display: none;
      }
    }

    .slider {
      display: none;
    }

    .content-profile {
      margin-top: 20px; 
      section h2 {
        display: block;
      }
    }
  }
}