.account-page {
    height: 300vh;
    background-image: linear-gradient(to right bottom,rgba(#a97ce9,0.7),rgba($color-primary-dark,1));
    background-size: contain;
    background-position: center;
    position: relative;
    padding-top: 3%;
    padding-right: 3%;
}