.account-page {
    height: 145vh;
    background-color: #e6eeff;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
   /*  z-index:100; */
    margin: 0 auto;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 3%
}