.container-dashboard {
    width: 100vw;
    height: 100vh;
}

.header-dashboard {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: $color-grey-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-dashboard {
    display: flex;
}

.sidebar-dashboard {
    background-color: $color-primary;
    flex: 0 0 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view-dashboard {
    background-color: #fff;
    flex: 1;
    height: 80rem;
}