.container-dashboard {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header-dashboard {
  position: fixed;
  font-size: 1.4rem;
  height: 7vh;
  width: 100vw;
  background-image: linear-gradient(91.16deg, #09c6f9 -0.03%, #109dcc 58.39%);
  //linear-gradient(to right bottom,rgba($color-primary-light,1),rgba($color-primary,1));
  border-bottom: $color-grey-light-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}

.sidebar-dashboard {
  background-color: $color-primary-dark-2;
  flex: 0 0 15%;
  height: 93vh;
  width: 11rem;
  top: 7vh;
  display: flex;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
}

.main-dash {
  background-color: #fff;
  flex: 1;
  height: 100vh;
  overflow: hidden;
  &__trip-header {
    height: 17rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid $color-grey-light-4 1px;
    background-color: #175e75;

    &--container {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
    }
    &--subcontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      min-width: 60rem;
      height: 100%;
    }
  }

  &__trip-heading {
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 3rem;
    color: #a7e5ff;
  }
  &__trip-subheading {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 3rem;
  }
  &__arrows {
    margin-right: 3rem;
    display: flex;
    align-items: center;
  }
  &__arrow-icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    fill: $color-grey-dark-1;
  }

  &__trip-section {
    border: 1px solid $color-grey-light-4;
    height: 25rem;
    display: flex;
    justify-content: space-between;

    overflow-x: auto;
    &::before,
    &::after {
      content: "";
      border-left: 1rem solid transparent;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-primary-dark-3;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  &__trip-card {
    width: 32rem;
    height: 16rem;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.15);
    display: flex;

    &--left {
      flex: 0 0 auto;
      width: 7rem;

      &-image {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
