.edit-profile-page {
    height: 158vh;
    overflow: hidden;
    background-color: #e6eeff;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    z-index:0;
    margin: -4rem auto;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 3%
}