.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-dark,1),rgba($color-secondary-dark,0.7));
    background-size: cover;
    background-position: center;
    position: relative;
    //clip-path: polygon(100% 0, 100% 75vh,50vw 100%, 100% 75vh, 0 0);
    clip-path: polygon(100% 0, 100% 75vh, 50vw 100%, 0 75vh, 0 0);
    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
    }
    &__text-box{
        position: absolute;
        top: 45%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__illustration {
        display: inline-block;
        width: 95vw;
        height:100vh;
        &--image{
            height: 50%;
            width: 40%;
            position: absolute;
        top:13%;
        right: 10%;
        margin-left: 5rem;
        }
    }

    &__arrow {
    
        position: absolute;
        cursor: pointer;
        top:95%;
        left:50%;
        transform: translate(-40%, -50%);
        &--icon{
            font-size: 7rem;
            display: inline-block;
            background-image: linear-gradient(134deg, #6fe7dd, $color-secondary-dark);
            background-size: 400% 400%;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: backgroundMove 4s ease-in-out infinite;
        }
    }
}