.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,1),rgba($color-primary-dark,1));
    background-size: cover;
    background-position: center;
    position: relative;
    //clip-path: polygon(100% 0, 100% 75vh,50vw 100%, 100% 75vh, 0 0);
    /* clip-path: polygon(100% 0, 100% 75vh, 50vw 100%, 0 75vh, 0 0); */
    &__logo-box{
        position: absolute;
        top: 2rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
    }
    &__text-box{
        position: absolute;
        top: 45%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__illustration {
        display: inline-block;
        width: 95vw;
        height:100vh;
        &--image{
            height: 50%;
            width: 40%;
            position: absolute;
        top:13%;
        right: 10%;
        margin-left: 5rem;
        }
    }

    &__arrow {
        position: absolute;
        cursor: pointer;
        top: 93%;
        background: none;
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        padding: 0 .5rem;
        left: 50%;
        transform: translate(-40%, -50%);
        &--icon{
            margin-top: -.9rem;
            font-size: 7rem;
            display: inline-block;
            background-image: linear-gradient(134deg, $color-primary-light, $color-secondary);
            background-size: 400% 400%;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: backgroundMove 4s ease-in-out infinite;
        }
        &:hover {
            transition: ease-in .2s;
            background: #249ff7;
        }
    }
}