.navigation {
    &__checkbox {

    }
    &__button {
        
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient();
    }
    &__nav {
        
    }
    &__list {
        
    }
    &__item {
        
    }
    &__link {

    }
}