/* 

.eachResult{
    display:flex;
    flex-direction :row;
    position:relative;
    min-height: 156px;
  
}

.eachResult .avatarAndNickname{
    display:flex;
    flex-direction: column;
    position:relative;
    top:10px;

}

.avatarAndNickname span{
    margin:0;
    margin-top:5px;
    font-size:1.4em;
}

hr{
   
    display:block;
    height:1px;
    border:0;
    border-top: 1px solid #EBEBEB;
    margin:0;
    padding:0;
    margin-top: 10px;
   
} */
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

.EachResult__main{
    display:flex;
    flex-direction: column;
    position: relative;
    width:100%;
    height:300px;
    background-color:#FEEAA0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color:black;
    padding:3em;
    margin-bottom: 50px;
    .info{
        // position:relative;
        // height:100%;
        // overflow: auto;
        .EachResult__headingInfo{
            display:flex;
            flex-direction: column;
            position:relative;
            height:10em;
            margin-bottom: -0.9em;
            .EachResult__address{
                position: relative;
                font-size: 4em;
                font-weight: bold;
            }
            .EachResult__date{
                top:-0.8em;
                position: relative;
                font-size: 2.7em;
                color: #686565;
            }
        }
        
        .EachResult__text{
            position: relative;;
            display:flex;
            height:100px;
            flex-direction: row;
            .EachResult__comma{
                font-family: 'Spirax';
                // font-style: normal;
                position:relative;
                top:-0.4em;
                font-size: 200px;
                margin-right:15px;
            }
            .EachResult__description{
                font-size: 2em;
            }
        
        }
    }
    .EachResult__profile{
        display: flex;
        flex-direction: row;
        // height:100%;
        .EachResult__avatar{
            margin-right: 20px;
        }
       
        .EachResult__profile__info{
            .EachResult__profile__name{
                position: relative;
                font-size: 2.3em;
               height:60%;
            }
            .EachResult__profile__year{
                position: relative;
                top:-5px;
                font-size: 1.5em;
                height:40%;
                color: #686565;
            }
        }
    }


}