.Future-trip-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.1rem 20%;
}

.Past-trip-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.1rem 20%;
}
