.Future-trip-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0.1rem 20%;
  padding-top: 10px;
  flex: 0 3 auto;
}
.Past-trip-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0.1rem 20%;
  padding-top: 10px;
  flex:  0 3 auto;
}
